Repository arawa/workspace, pull requests merged in 2025-07, with the labels that each got.

#1296 Retrieve groups from a workspace using OCS API
  composer.lock
  lib/Controller/WorkspaceApiOcsController.php
  lib/ResponseDefinitions.php
  lib/Space/SpaceManager.php
  tests/Unit/Controller/WorkspaceApiOcsControllerTest.php
  tests/Unit/Space/SpaceManagerTest.php
Labels: feature, backend, api

#1298 Delete users from a workspace using OCS API
  lib/Controller/WorkspaceApiOcsController.php
  lib/Space/SpaceManager.php
  tests/Unit/Controller/WorkspaceApiOcsControllerTest.php
  tests/Unit/Space/SpaceManagerTest.php
Labels: feature, backend, api

#1342 Set user as Workspace Manager in workspace using OCS API
  lib/Controller/WorkspaceApiOcsController.php
  lib/Space/SpaceManager.php
  tests/Unit/Controller/WorkspaceApiOcsControllerTest.php
  tests/Unit/Space/SpaceManagerTest.php
Labels: backend, api

#1343 Remove user as workspace manager with ocs api
  lib/Controller/WorkspaceApiOcsController.php
  lib/Space/SpaceManager.php
  tests/Unit/Controller/WorkspaceApiOcsControllerTest.php
  tests/Unit/Space/SpaceManagerTest.php
Labels: backend, api

#1307 Create a subgroup for a workspace with ocs api
  lib/Controller/WorkspaceApiOcsController.php
  lib/Db/Space.php
  lib/Group/SubGroups/SubGroup.php
  lib/Space/SpaceManager.php
  tests/.phpunit.result.cache
  tests/Unit/Controller/WorkspaceApiOcsControllerTest.php
  tests/Unit/Group/SubGroups/SubGroupTest.php
  tests/Unit/Space/SpaceManagerTest.php
Labels: feature, backend, api

#1334 Remove users from groups in space with OCS API
  lib/Controller/WorkspaceApiOcsController.php
  lib/Service/Group/GroupsWorkspace.php
  lib/Space/SpaceManager.php
  tests/.phpunit.result.cache
  tests/Unit/Controller/WorkspaceApiOcsControllerTest.php
  tests/Unit/Space/SpaceManagerTest.php
Labels: backend, api

#1347 Add users to groups with ocs api
  lib/Controller/WorkspaceApiOcsController.php
  lib/Space/SpaceManager.php
  tests/Unit/Controller/WorkspaceApiOcsControllerTest.php
  tests/Unit/Space/SpaceManagerTest.php
Labels: feature, backend, api

#1351 comment for openapi and update api-test.js
  .gitignore
  lib/Controller/WorkspaceApiOcsController.php
  openapi.json
  scripts/api-test.conf.sample
  scripts/api-test.js
Labels: documentation, backend, api

#1352 Create a new OCS API endpoint to retrieve users from a workspace
  lib/Controller/WorkspaceApiOcsController.php
  lib/Space/SpaceManager.php
  tests/Unit/Controller/WorkspaceApiOcsControllerTest.php
Labels: feature, backend, api

#1350 Remove users key from getting workspaces
  lib/Space/SpaceManager.php
  tests/Unit/Space/SpaceManagerTest.php
Labels: backend, api, refactor

#1354 Implement a new OCS API endpoint for removing a subgroup
  lib/Controller/WorkspaceApiOcsController.php
  lib/Service/Group/GroupsWorkspaceService.php
  tests/Unit/Controller/WorkspaceApiOcsControllerTest.php
Labels: feature, backend, api
